<div class="w-100 position-relative" *ngIf="cast">
    <div class="cast-round position-relative">
        <div class="img-container">
            <img mat-card-image *ngIf="cast.profile_path" alt="{{ cast.name ? cast.name : '' }}"
                [defaultImage]="_globals.NO_IMAGE_URL"
                [lazyLoad]="cast.profile_path ? (_globals.BASE_THUMBNAIL_URL + cast.profile_path) : _globals.NO_IMAGE_URL" />
        </div>
    </div>
    <div class="text-container">
        <b class="c-yellow truncate-2-line">{{ cast.character }}</b>
        <p class="mb-0 soft-white truncate-1-line">{{ cast.name }}</p>
    </div>
</div>
