.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 0 6px !important;
}

.col-card {
    padding-right: 8px !important;
    padding-left: 8px !important;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .row {
        padding-left: 10px !important;
        padding-right: 13.4% !important;
    }
}

@media (max-width: 767px) {
    .col-card {
        padding-right: 6px !important;
        padding-left: 6px !important;
    }

    .row {
        padding-left: 11px !important;
        padding-right: 8.2% !important;
    }
}