<div class="row page_404 mx-0">
    <div class="offset-sm-2 col-sm-8 text-center">
        <div class="four_zero_four_bg">
            <p class="text-center text-black mb-0">Error</p>
            <h3 class="error-text text-center text-black">404</h3>
        </div>
        <div class="contant_box_404">
            <h5 class="text-black">Parece que estás perdido...</h5>
            <p class="text-black">¡La página que buscas no está disponible!</p>
            <button [routerLink]="['/']" routerLinkActive="router-link-active" class="btn btn-home">Ir al Inicio</button>
        </div>
    </div>
</div>
