.img-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    margin: 0 !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #141414 !important;
    background: linear-gradient(0deg, rgba(61, 58, 47, 0.3) 0%, rgba(61, 58, 47, 0) 50%);
}

.img-container:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

img {
    background-size: cover;
    margin: 0 !important;
}